---
title: Kevin's Blog
layout: page
---

<div class="wrapper">
<div class="light"><i></i></div>
<hr class="line-left">
<hr class="line-right">
<div class="main">
  <h1 class="title"></h1>
  {% for post in paginator.posts %}
  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
  {% if year != y %}
	{% assign year = y %}
   <div class="year">
   <h2><a href="#">{{ y }}年<i></i></a></h2>
   <div class="list">
	<ul>
		{% for post in paginator.posts %}
		<li class="cls">
		  <p class="date">{{ post.date | date:"%m月%d日" }}</p>
		  <a class="intro" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		  <p class="version">&nbsp;</p>
		  <div class="more">
			<p></p>
		  </div>
		</li>
		{% endfor %}
  {% endif %}
  {% endfor %} 
</div>
</div>
<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
<script>
	$(".main .year .list").each(function (e, target) {
	    var $target=  $(target),
	        $ul = $target.find("ul");
	    $target.height($ul.outerHeight()), $ul.css("position", "absolute");
	}); 
	$(".main .year>h2>a").click(function (e) {
	    e.preventDefault();
	    $(this).parents(".year").toggleClass("close");
	});
	</script>