---
layout: default
isPost: true
comment: true
---

{% assign publishData =  page.date|date:"%Y-%m-%d %H:%M:%S" %}
{% if page.updateData %}
{% assign lastData =  page.updateData|date:"%Y-%m-%d %H:%M:%S" %}
{% else %}
{% assign lastData =  page.date|date:"%Y-%m-%d %H:%M:%S" %}
{% endif %}
{% if page.previous %}
    <link rel="prev" title="{{ page.previous.title }}" href="{{ page.previous.url }}">
{% endif %}
{% if page.next %}
    <link rel="next" title="{{ page.next.title }}" href="{{ page.next.url }}">
{% endif %}
<meta property="og:type" content="blog"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:author" content="{{ site.author }}"/>
<meta property="og:release_date" content="{{ lastData }}"/>
<link rel="stylesheet" href="/javascripts/prettify/prettify.min.css" />
<link href="dmedia/demod_embed.css" rel="stylesheet" type="text/css">
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>
<div id="content" class="clearfix">
    
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-attr">作者: <span  class="entry-author">{{ site.author }}</span> | 更新日期: <time  class="entry-date">{{ lastData }}</time></p>
        <p><blockquote>{{ page.description }}</blockquote></p>
        {{ content }}
        <div class="ad-content-footer"></div>
        <footer class="unit-foot">
            <div class="unit-inner unit-foot-inner">
                <nav class="pagination">
                    <ul>
                        {% if page.previous %}
                        <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
                        {% endif %}
                        {% if page.previous and page.next %}
                        <li class="pipe"> | </li>
                        {% endif %}
                        {% if page.next %}
                        <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <p class="gotop">
                    <a href="#">Back to Top</a>
                </p>
            </div>
        </footer>
		{% include comments.md %}
    </div>
	
    <div id="menuIndex" class="sidenav"></div>
	
	<iframe class="tscplayer_inline" name="tsc_player" src="dmedia/demod_player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<script src="/media/js/post.min.js" type="text/javascript"></script>
