<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="zh"><![endif]-->
<!--[if gt IE 7]><!-->
<html lang="zh">
<!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="/media/css/timeline.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div style="text-align:center;clear:both;">
</div>
<div class="content">
{{ content }}
</div>
<div class="footer">
  <div class="footer-content clearfix">
    <div class="copyright"> Copyright ? 2011-2014  All Rights Reserved </div>
  </div>
</div>
</body>
</html>